body {
    background: green;
    padding: 8px;
}

.outer-most-dabba {
    background: rgb(177, 243, 177);
    padding: 20px;
    border: 5px solid darkgreen;
}

.row {
    padding: 15px;
    margin-bottom: 25px;
}

/* ---------------- TOP ROW ---------------- */
.top-row {
    border: 4px solid blue;
    background: lightcyan;

    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.top-side {
    width: 25%;
    height: 75px;
    background: rgb(255, 225, 171);
    border: 4px solid coral;
}

.top-middle {
    width: 50%;
    height: 60px;
    border: 4px solid red;
    background: rgb(255, 225, 171);
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.mini-box {
    background:rgb(255, 220, 220);
    border: 4px solid red;
    width: 50%;
}

/* ---------------- MIDDLE ROW ---------------- */
.middle-row {
    background: rgb(177, 243, 177);
    display: flex;
    gap: 20px;
}

.middle-left {
    height: 200px;
    width: 55%;
    background: rgb(255, 207, 207);
    border: 4px solid maroon;
}

.middle-right {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.middle-right-dabbas {
    height: 87px;
    margin-bottom: 20px;
    background: rgb(255, 207, 207);
    border: 4px solid maroon;
}

/* ---------------- BOTTOM ROW ---------------- */
.bottom-row {
    border: 4px solid blue;
    background: lightblue;
}